// 1 Colour Palette

// 1.1 Theme Colours
$primary-color: #0197AB !default;
$secondary-color: #125254 !default;

// 1.2 Grayscale
$black: #000 !default;
$gray-darkest: #111827 !default;
$gray-darker: #374151 !default;
$gray-dark: #4B5563 !default;
$gray-med: #6B7280 !default;
$gray-lighter: #D1D5DB !default;
$gray-lightest: #F3F4F6 !default;
$white: #FFF !default;


// 2 Another
$header-height: 88px;

// 3 Mini Gallery Image Size On Desktop
$square-width: 320px;
$square-height: 320px;
$wider-width: 360px;
$wider-height: 240px;
$higher-width: 280px;
$higher-height: 360px;
$square-floating: $square-height - $higher-height;
$wider-floating: $wider-height - $higher-height;