// 1 Colour Palette

// 1.1 Theme Colours
$color-primary: #0197AB !default;
$color-secondary: #125254 !default;

// 1.2 Grayscale
$color-black: #000 !default;
$color-gray-darkest: #111827 !default;
$color-gray-darker: #374151 !default;
$color-gray-dark: #4B5563 !default;
$color-gray-med: #4B5563 !default;
$color-gray-lighter: #4B5563 !default;
$color-gray-lightest: #F3F4F6 !default;
$color-white: #FFF !default;
