/* stylelint-disable scss/at-rule-no-unknown */
/* stylelint-disable-next-line import-notation */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-size: 12px;
    font-family: Inter, Arial, Helvetica, sans-serif;
}