/* stylelint-disable scss/at-rule-no-unknown */
/* stylelint-disable-next-line import-notation */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-size: 12px;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

.text-primary {
    color: $primary-color;
}

.text-secondary {
    color: $secondary-color;
}

.text-gray-darkest {
    color: $gray-darkest;
}

.text-gray-darker {
    color: $gray-darker;
}

.text-gray-dark {
    color: $gray-dark;
}

.text-gray-med {
    color: $gray-med;
}

.text-gray-lighter {
    color: $gray-lighter;
}

.text-gray-lightest {
    color: $gray-lightest;
}